body {
	height: 100vh;
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#container {
	height: 80vh;
	width: 80%;
	border: 1px solid black;
	position: relative;
	overflow: hidden;
	background-color: #53c3f8;
	background-image: url(../assets/skyline.jpg);
	background-size: cover;
}

#buildings {
	position: absolute;
	width: 100%;
	height: 700px;
	bottom: 25%;
	background-image: url(../assets/buildings.png);
	z-index: 2;
}

#player {
	position: absolute;
	background: transparent url(../assets/player-sprite.png) 0 0 no-repeat;
	height: 80px;
	width: 50px;
	left: 15%;
	z-index: 5;
	bottom: 20%;
}

.walker {
	position: absolute;
	height: 80px;
	width: 50px;
	background-color: cyan; 
	right: 50px;
	z-index: 5;
	bottom: 20%;
}

.walker2 {
	position: absolute;
	height: 80px;
	width: 50px;
	background-color: black; 
	right: 150px;
	z-index: 5;
	bottom: 20%;
}

#ground {
	background-color: grey;
	position: absolute;
	bottom: 0;
	top: 75%;
	width: 100%;
	border-top: 2px solid black;
}


#score-container {
	position: absolute;
	right: 0;
	width: 100px;
	border: 1px solid black;
	text-align: center;
	z-index: 3;
}


.jump {
	animation: jump_animation 1.2s;
}

@keyframes jump_animation {
  0% {
    bottom: 25%;
  }
  50% {
	bottom: 50%;
  }
  100% {
    bottom: 20%;
  }
}








